<!-- <app-imgupload></app-imgupload>
<br>
<app-imgsearch></app-imgsearch> -->

<section class="hero is-primary">
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>
    <li><a href="https://www.youtube.com/" data-panel="m-nav-panel-learn">Learn</a></li>
  </ul>
</section>




<div class="container" >
  <div style="color: blue; margin-bottom: 20px">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <app-imgupload></app-imgupload>
</div>
